services:
  flapalerted:
    image: ghcr.io/kioubit/flapalerted:latest
    container_name: flapalerted
    restart: always
    ports:
      - "1790:1790"
      - "8699:8699"
    environment:
      - FA_ASN=4242423914
    logging:
      options:
        max-size: "5M"