@charset "UTF-8";

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 4px solid #e2e8f0;
    border-radius: 50%;
    border-top: 4px solid #2563eb;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loaderText {
    text-align: center;
    font-size: 2em;
}

#mainContainer {
    max-width: 150em;
    margin: 0 auto;
}

#prefixTitle {
    font-size: 1.3em;
}

#pathTableContainer {
    width: fit-content;
    max-width: 100%;
    float: right;
    overflow-x: auto;
}

#pathTable {
    width: fit-content;
    text-align: right;
    font-family: monospace;
    white-space: pre;
}

.informationText {
    display: none;
}

#informationTable {
    border: 1px solid black;
    padding: 0.4em;
    margin: 1em;
    border-spacing: 0;
}

#informationText2 {
    margin-bottom: 1em;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    #chartRouteCount-outerContainer {
        overflow-x: unset !important;
    }
    #chartRouteCount-container {
        min-width: unset !important;
        height: unset !important;
    }
}

#chartRouteCount-outerContainer {
    overflow-x: auto;
}

.noDisplay {
    display: none;
}

#chartRouteCount-container {
    position: relative;
    height: 12em;
    min-width: 70em;
    margin-bottom: 1em;
}

#historicalDisplay {
    color: darkred;
}