@charset "UTF-8";

#prefixTable {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#prefixTable td,
#prefixTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#prefixTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#prefixTable tr:hover {
    background-color: #ddd;
}

#prefixTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c04c09;
    color: white;
}

.headerDiv {
    height: 16em !important;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

#wrapper {
    box-sizing: border-box;
    height: 16em;
    padding-bottom: 16em;
}

.disabledLink {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
    text-decoration: none;
}

#chartFlapCount-container {
    position: relative;
    height: 20vh;
    width: 100vw;
}

#chartRoute-container {
    position: relative;
    height: 50vh;
    width: 100vw;
}

#chartRouteCount-container {
    position: relative;
    height: 20vh;
    width: 100vw;
}




#connectionLostArea {
    display: none;
}

#connectionLost {
    text-align: center;
    color:red;
    font-size: 2em;
    display: none;
}

#mainHeading {
    margin-bottom: 0.2em;
}

#justgage {
    height: 16em;
    overflow: hidden;
}

#prefixTableBox {
    height: 16em;
    overflow: auto;
}

.floatRight {
    float: right;
}

#dataInfo {
    margin-top: 0;
}

.padding {
    clear: both;
    padding-bottom: 1em;
}

.centerText {
    text-align: center;
}
