@charset "UTF-8";

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loadingScreen {
    opacity: 0.95;
    background: #e7e7e7;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
    position: fixed;
}

#mainHeading {
    margin-bottom: 0.2em;
}

.mt-0 {
    margin-top: 0;
}

#mainContainer {
    margin: auto;
    max-width: 70em;
}

#grid-container-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 1em;
}

#grid-container-charts {
    display: grid;
    grid-template-columns: minmax(0,1fr);
    grid-template-rows: repeat(2,15em);
    gap: 10px;
}

.chartContainer {
    position: relative;
}

@media screen and (max-width: 800px) {
    #grid-container-main {
        grid-template-columns: 1fr;
    }
    #mainHeading,
    #dataInfo {
        text-align: center;
    }
}

#justgage {
    height: 16em;
    overflow: hidden;
}

#prefixTableBox {
    max-height: 16em;
    overflow: auto;
}

#prefixTable {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
}

#prefixTable thead {
    position: sticky;
    top: 0;
}

#prefixTable td,
#prefixTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#prefixTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#prefixTable tr:hover {
    background-color: #ddd;
}

#prefixTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c04c09;
    color: white;
}

.footer {
    margin-top: 3em;
}

#connectionLost {
    text-align: center;
    color:red;
    font-size: 2em;
    display: none;
}

.centerText {
    text-align: center;
}
