@charset "UTF-8";
@import "../shared.css";

#loaderText {
    text-align: center;
    font-size: 2em;
}

#analyze-container {
    max-width: 150em;
    margin: 0 auto;
    padding: 0.75rem 0.75rem 0;
}

#prefixTitle {
    font-size: 1.3em;
}

#pathTableContainer {
    width: fit-content;
    max-width: 100%;
    float: right;
    overflow-x: auto;
}

#pathTable {
    width: fit-content;
    text-align: right;
    font-family: monospace;
    white-space: pre;
}

#informationTable {
    border: 1px solid black;
    padding: 0.4em;
    margin: 1em;
    border-spacing: 0;
}

#informationTable td:first-child {
    padding-right: 1em;
}

#informationText {
    margin-bottom: 1em;
}

#chartRouteCount-container {
    position: relative;
    height: 12em;
    min-width: 70em;
    margin-bottom: 1em;
}

#historicalDisplay {
    color: darkred;
}

@media print
{
    .no-print
    {
        display: none !important;
    }

    #chartRouteCount-outerContainer {
        overflow-x: unset !important;
    }

    #chartRouteCount-container {
        min-width: unset !important;
        height: unset !important;
    }

    #pathTableContainer {
        overflow-x: visible !important;
        overflow-wrap: anywhere !important;
    }
    
    #pathTable {
        white-space: normal !important;
    }
}
